/target/
/.idea/vcs.xml
/Environments/AWS/.terraform/
/Environments/AWS/.terraform.lock.hcl
/Environments/AWS/.terraform.tfstate.lock.info
/Environments/AWS/terraform.tfstate
/Environments/AWS/terraform.tfstate.backup
